h1{
    text-align: center;
    text-shadow: 50px;
}
.gallery{
margin: 10px 50px;
margin-left: 90px;
/* width: 100px;
height: 100px; */
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width :200px;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

